main
{ --grid-columns: 8 }

@media screen and (max-width: 1200px) {
    main
    { --grid-columns: 6 }
}

@media screen and (max-width: 900px) {
    main
    { --grid-columns: 4 }
}

@media screen and (max-width: 500px) {
    main
    { --grid-columns: 3 }
}

@media screen and (max-width: 500px) {
    main
    { --grid-columns: 2 }
}

main section
{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    
}

main section div
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    
    width: 100%;
    background-color: var(--background-header);
    border-radius: 5%;
    font-size: 1.1rem;
    font-weight: bold;
    
    border: .1px solid #aeaeae;
    box-shadow: 3px 4px 5px #d5d3d3;
    
    cursor: pointer;
    text-align: center;

}
main section div span
{
    font-size: .8rem;
    font-weight: lighter;
}

main section div.add-list
{
    font-size: 1.5rem;
    color: #fff8dc;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;

    margin-left: 15px;
    border: .5px solid #000000;
    border-radius: 2px;

    box-shadow: 0 0 5px #d5d3d3;

    cursor: pointer;

    position: absolute;
    right: 17px;
    top: 17px;
}

main .alert-empty
{
    text-align: center;
    font-size: 1rem;
}