ol
{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

li
{
  margin-left: 30px;
  padding: 6px 0;
}

span
{
  width: 100%;
  height: auto;
}

span:nth-child( 2n -1 )
{
  background-color: var( --background-list-1 );
}
span:nth-child( 2n )
{
  background-color: var( --background-list-2 );
}

span.disable
{
  background-color: #55555530;
  border-top: 1px solid #99999940 inset;
  border-bottom: 1px solid #99999940 inset;
}
li.disable
{
  text-decoration: line-through;
  color: rgb(147, 184, 186);
}